$style: "first";

//colors

$bodyBgColor: #dcbb9a;
$briefBgColor: #fadcba;
$contentBgColor: #ffffff;
$headingsBordersColor: #893c00;
$mainTextColor: #000000;
$linksButtonsColor: #3d70a1;
$tablesColor: #e0e0e0;
$linesColor: white;
$formsColor: #808080;

//for brief-mixin

$marginRight: 15px;
$floatBrief: left;
$widthBrief: 45%;